html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #ecdafd;
}


.container {
    flex: 1; /* Hace que el contenedor principal tome el espacio disponible */
}

.form-item input {
    background-color: #d9d0e2;
}

.form-item span {
    color: white;
    background-color: #a571d6;
}

.form-item textarea {
    background-color: #d9d0e2;
}

.form-item label {
    color: #a571d6;
}

.btn-purple {
    margin: 1.5rem 0px;
    background-color: #742ecf;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-purple:hover {
    background-color: #6c5ce7;
}

footer {
    flex-shrink: 0; /* Evita que el footer se reduzca */
    background-color: #742ecf;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    bottom: 0; /* Fija el footer en la parte inferior */
    width: 100%;
}