* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #e9d4fd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #742ecf ;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: white ;
  }
  
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) ;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: white ;
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

.container {
    margin-top: 10%;
    text-align: center;
}

.btn-container {
    border: 2px solid #742ecf;
    border-radius: 15px;
    padding: 3rem;
    box-shadow: 0 0 20px rgba(116, 46, 207, 0.1);
}


.btn-purple {
    background-color: #742ecf;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-purple:hover {
    background-color: #6c5ce7;
}