html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ecdafd;
}

.container {
    flex: 1;
}

.title-container{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-item textarea {
    background-color: #d9d0e2;
}

.form-item label {
    color: #a571d6;
}

.btn-purple {
    margin: 1.5rem 0px;
    background-color: #742ecf;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-purple:hover {
    background-color: #6c5ce7;
}

#btn-summarize:disabled {
    background-color: #6c5ce7;
}


.card-header {
    background-color: #742ecf;
    color: rgb(223, 200, 236);
}

.card-body {
    background-color: #d9d0e2;
}

footer {
    background-color: #742ecf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

