  body {
    background-image: url("../assets/images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: "Arial", sans-serif;
  }
  
  .content-wrapper {
    min-height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .weather-container {
    background-color: rgb(252, 233, 254);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
  }

  .weather-icon {
    width: 50%; 
    height: auto;
    display: block;
    margin: 0 auto; 
}

  
  h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .btn-purple {
    background-color: #742ecf;
    border-color: #742ecf;
    color: white;
    transition: all 0.3s ease;
  }
  
  .btn-purple:hover,
  .btn-purple:focus {
    background-color: #5e25a5;
    border-color: #5e25a5;
    color: white;
  }
  
  #weatherResult {
    margin-top: 2rem;
  }
  
  .temperature-display {
    font-size: 3rem;
    font-weight: bold;
    color: #742ecf;
    margin-bottom: 0.5rem;
  }
  
  .description-display {
    font-size: 1.2rem;
    color: #555;
  }
  
  #errorAlert {
    max-width: 100%;
    margin-top: 1rem;
  }
  
